<div class="d-flex flex-column border bg-light">

    <div class="mr-auto p-1 flex-fill mb-2">
        <h1 class="">{{job.jobTitle}}</h1>
        <!-- html code that displays an icon -->
        <p class=""><i class="fa fa-map-marker pe-2" aria-hidden="true"></i>5368 turbo Terry lane, Pittsburgh Pa 15237 </p>
        
    </div>

    <div class="d-flex flex-column bd-highlight mb-3">
        <div class="p-2 bd-highlight">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</div>
        <div class="p-2 bd-highlight">
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Vestibulum consequat dolor eget mi efficitur tincidunt.</li>
                <li>Integer euismod mi tincidunt nibh cursus interdum.</li>
                <li>Donec vitae turpis in lectus tempus molestie.</li>
                <li>Maecenas ac leo nec ligula mollis dignissim ac varius leo.</li>
                <li>Nunc ornare ipsum id turpis scelerisque fringilla.</li>
            </ul>
            <div class=" bd-highlight">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</div>
            <div class="">
                <button class="btn btn-primary mt-4 " (click)="null">Apply</button>
            </div>
        </div>
       
    </div>
</div>


